# Shared local and Docker configuration

AUTH_SERVICE_PORT=8081
WALLET_SERVICE_PORT=8082
TRANSFER_SERVICE_PORT=8083
LEDGER_SERVICE_PORT=8084
LOGGER_SERVICE_PORT=8085
LOGGER_FILE_DIRECTORY=logs

KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
WALLET_KAFKA_TOPIC=wallet.events
TRANSFER_KAFKA_TOPIC=transfer.events
LEDGER_KAFKA_GROUP_ID=ledger-service

AUTH_DB_NAME=authdb
AUTH_DB_PORT=5433
AUTH_DB_USERNAME=auth
AUTH_DB_PASSWORD=auth123
AUTH_DB_URL=jdbc:postgresql://localhost:5433/authdb

WALLET_DB_NAME=walletdb
WALLET_DB_PORT=5434
WALLET_DB_USERNAME=wallet
WALLET_DB_PASSWORD=wallet123
WALLET_DB_URL=jdbc:postgresql://localhost:5434/walletdb

TRANSFER_DB_NAME=transferdb
TRANSFER_DB_PORT=5435
TRANSFER_DB_USERNAME=transfer
TRANSFER_DB_PASSWORD=transfer123
TRANSFER_DB_URL=jdbc:postgresql://localhost:5435/transferdb

LEDGER_DB_NAME=ledgerdb
LEDGER_DB_PORT=5436
LEDGER_DB_USERNAME=ledger
LEDGER_DB_PASSWORD=ledger123
LEDGER_DB_URL=jdbc:postgresql://localhost:5436/ledgerdb

AUTH_SERVICE_BASE_URL=http://localhost:8081
WALLET_SERVICE_BASE_URL=http://localhost:8082
LOGGER_SERVICE_BASE_URL=http://localhost:8085

INTERNAL_API_KEY=wallet-platform-internal-dev-key
AUTH_JWT_SECRET=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWYwMTIzNDU2Nzg5YWJjZGVmMDEyMzQ1Njc4OWFiY2RlZg==
AUTH_JWT_EXPIRATION_SECONDS=3600
